.App-link {
  color: #61dafb;
}
.map {
  position: relative !important;
  height: 100vh !important;
}

.genre {
  position: relative;
  height: 150px;
  overflow: hidden;
  cursor: pointer;
  margin: 10px 0;
}
.chosen-cat {
  background-color: salmon;
  padding: 10px;
  color: white;
}
.genre-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
.genre-title {
  z-index: 100;
  padding: 10px;
}